/* * {
  background-color: #ECEFF8;
} */
.sidebar {
  width: 16%;
  height: 500px;
  background-color: #aaecf1;
  position: fixed;
}

.navcontent {
  width: 84%;
  margin-left: 16%;
  /* background-color: rgb(207, 11, 11); */
}